// Arimo Sans
@font-face {
  font-family: Arimo Regular;
  src: url(../fonts/Arimo/Arimo-Regular.ttf);
}
// Lobster Sans
@font-face {
  font-family: Lobster Regular;
  src: url(../fonts/Lobster/Lobster-Regular.ttf);
}
// Roboto_Slab
@font-face {
  font-family: RobotoSlab Regular;
  src: url(../fonts/Roboto_Slab/RobotoSlab-Regular.ttf);
}
@font-face {
  font-family: RobotoSlab Light;
  src: url(../fonts/Roboto_Slab/RobotoSlab-Light.ttf);
}
@font-face {
  font-family: RobotoSlab Thin;
  src: url(../fonts/Roboto_Slab/RobotoSlab-Thin.ttf);
}
